@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  font-family: Poppins;
  scroll-behavior: smooth;
}

:root {
  --mainColorWhite: #fff;
  --mainColor: #1b2838;
  --mainColorLight: #0f3349;
  --secondaryColor: #2fb680;
  --textColor: #eee;

}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    color: var(--mainColorWhite);
}

h1{
    font-size: 2.5rem;
    color: var(--mainColorWhite);
}

h2{
  font-size: 2rem;
  color: var(--mainColorWhite);
}

body {
  background-color: #2a374c;
  margin: 0;
}
